* {
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    background-color: black;
}

.game {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding: 30px;
    margin: 100px;
    margin-top: 70px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    width: 500px;
    height: 500px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.selection {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 70px;
    margin-top: 70px;
    margin-bottom: 50px;

}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: blueviolet;
    border: 2px solid white;
}

.go:hover, .again:hover {
    box-shadow: 0 5px 5px 0 rgba(9, 255, 0, 0.24), 0 5px 5px 0 rgba(0, 255, 0, 0.19);
}

.again:active {
    transform: translateY(2px);
}
button#R {
    background-image: url(images/rock.jpg);
    background-size: cover;
}

button#P {
    background-image: url(images/paper.jpg);
    background-size: cover;
}

button#S {
    background-image: url(images/scissors.jpg);
    background-size: cover;
}


body {
    display: flex;
    align-content: center;
    justify-content: center;
}

.hover {
    border: 3px solid rgb(47, 249, 2);
}

.choice:focus{
    border-color: rgb(158, 0, 183);
    opacity: 0.9;
    filter: alpha(opacity=100);
    transform: translateY(3px);
}

.scores, .match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    background-color: rgb(0, 0, 0);
}

.match {
    justify-content: center;
    margin-bottom: 10px;
    gap: 15px;
}

.again, .go {
    color: black;
    background-color: rgb(47, 249, 2);
    border: 2px solid white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-weight: bolder;
    margin: 30px;
    margin-bottom: 0px;
}

.results {
    margin: 30px;
    margin-bottom: 10px;
}

#roundResult {
    margin: 5px;
}

#gameResult {
    font-weight: bolder;
    font-size: 30px;
}

.go {
    color: white;
    background-color: rgb(75, 2, 103);
    width: 130px;
}

.change  {
    background-color: rgb(48, 3, 66);
    color: rgb(47, 249, 2);
}

.onAgain {
    color: rgb(47, 249, 2);
    background-color: rgb(48, 3, 66);
}

.loser {
    border: 2px solid red;
}

.winner {
    border: 2px solid rgb(47, 249, 2);
}